node_modules
dist
coverage
test

.env
.env.*
!.env.example

.git
.gitignore
.gitkeep

.prettierrc
eslint.config.mjs

*.md
LICENSE

docker-compose.yml
Dockerfile
.dockerignore

.vscode
.idea
.DS_Store
npm-debug.log*
